body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    'Source Code Pro' sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.container {
  width: 70%;
  /* height: 50vh; */
  background-color: #999999;
  margin: Auto 0;
  border: 1px solid black;
  text-align: center;
  color: white;
  font-size: 24px;
  margin-left: 4rem;
  max-width: 80rem;
  border: 1px solid black;
  font-family: 'Source Code Pro';
}

.deleteBtn {
  position: absolute;
  right: 20px;
  top: 40%;
  height: 3rem;
  font-size: 32px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #aaaaaa;
  border: none;
}
.singleUser {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  border: 1px solid #333333;
  border-left: none;
  border-right: none;
  background-color: #aaaaaa;
  padding: 1rem;
  align-items: center;
  justify-content: center;
  color: #555555;
  position: relative;
}
.btn {
  display: inline-flex;
  color: #555555;
  height: 3rem;
  font-size: 32px;
  background-color: aqua;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.btn-lg {
  width: 400px;
  display: inline-block;
  color: #555555;
  height: 3rem;
  font-size: 24px;
  background-color: orange;
  cursor: pointer;
  max-width: 80%;
}
h3 {
  border: 2px solid #555555;
  color: #555555;
}
.userDate,
.userName {
  font-size: 14px;
  background-color: #555555;
  color: white;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin-right: 10px;
  padding: 0.5rem;
}
.userImage {
  border: 2px solid black;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.about {
  background-image: linear-gradient(
    to bottom,
    rgba(255, 196, 0, 0.5),
    rgba(0, 204, 255, 0.63)
  );
  width: 100%;
  height: 150vh;
  border: 1px solid black;
  text-align: center;
  color: black;
  font-size: 24px;

  max-width: 80rem;
  border: 1px solid black;
}
.homeFont {
  height: 68px;
  width: 68px;
}
.aboutText {
  font-size: 32px;
  color: black;
  text-align: justify;
  margin-top: 10rem;
  margin-left: 10rem;
  width: 70%;
  min-width: 50%;
}
